@using Microsoft.AspNetCore.Identity
@using RazorWebApp.Models


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    @* SignInManager.IsSignedIn(User) *@
    @* UserManager.GetUserName(User); *@

}


<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Register" asp-area="Identity">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Login" asp-area="Identity">Sign in</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Manage/Index"
            asp-area="Identity">@UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Logout" asp-area="Identity">Logout</a>
        </li>
    }

</ul>